*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgCore{
    border-radius: 50%;
}
.dropDownBtn{
    position: fixed;
}
#dropdown{
    margin: 3rem 0 0 0;
    position: fixed;
}
.cardContainer{
    margin: 3rem 4rem;
    position: relative;
}